@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Lobster&display=swap');
.wrapper{
    overflow-x: hidden;
    overflow-y: auto;
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: background-color .5s ease;
    z-index: 1000;
}
/*Apply styles after scroll*/
.scrolling-active{
    background-color: rgb(80, 68, 241)!important;
    box-shadow: 0 3px 1rem rgba(0,0,0,.1);
}

.scrolling-active {
    height: 4.5rem;
}
.scrolling-active img{
   background-color: #fff!important;
}

.scrolling-active .logout-btn{
    background-color: #fff!important;
    color: #007bff;
}


.scrolling-active .navbox .rightside .relative .no-of-products {
    background-color: #fff!important;
    color: #007bff;
}

.scrolling-active .navlink{
    color: #fff!important;
}

.scrolling-active #nav-cta:hover{
    background-color: #151515;
}

.scrolling-active .nav-link::after{
    background-color: #313131;
}

/*Apply styles after scroll end*/

.appbar{
    background-color: white!important;
    /* box-shadow: none!important; */
    outline: none!important;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: background-color .5s ease;
    z-index: 1000;
}
.navbox{
    width: 100%;
    height: auto;
    /* border-bottom: 1px solid #e4e4e4; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:  7px 25px;
}

.navbox .leftside{
    display: flex;
    width: 200px;
    height: 90px;
}


.navbox .leftside img{
    width: 60px;
    height: 60px;
}

.navbox .rightside{
    display: flex;
    flex-direction: row;
    position: relative;

}

.navbox .rightside .navlink{
    font-size: 12px;
    color: black;
    font-weight: 600;
    margin: auto 10px;

}
.navbox .rightside .relative{
    position: relative;
}

.navbox .rightside .relative .no-of-products {
    background: #007bff;
    color: #fff;
    font-size: 10px;
    font-weight: 600;
    padding: 2px;
    width: 14px;
    height: 14px;
    border-radius: 3px;
    position: absolute;
    top: -5px;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home0{
    margin-top: 34px;
    
 
}
.home{
    font-family: 'Akaya Telivigala', cursive,'Satisfy','Pacifico','Lobster';
    letter-spacing: 0.2rem;
    color: #000 !important;
    text-decoration: none !important;
    font-size: 18px !important;
    font-weight: 600!important;
    
}


/* product */
h1 {
    margin-top: 70px!important;
    padding: 50px;
    border-bottom: 1px solid #e4e4e4;
}
.h1{
  
        margin-top: 70px!important;
        padding: 40px;
        border-bottom: 1px solid #e4e4e4;
   
}
@media(max-width: 768px) {
    .navbox{
        /* border-bottom: 1px solid #e4e4e4; */
        padding:  7px 4px;
    }
    .navbox .leftside{
        display: flex;
        width: 150px;
        height: 60px;
    }
    .home0{
        margin-top: 26px;
    }
    .home {
        font-size: 12px !important;
        letter-spacing: 0.1rem;

    }
    .navbox .leftside img{
        width: 50px;
        height: 50px;
    }
}

@media(max-width: 768px) {
    h1 {
        text-align: center;
        padding: 10px;
    }
}

.products-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
}

.products-container .product-card {
    box-shadow: inset -2px -2px 8px white,
    inset -2px -2px 12px rgba(255,255,255,0.5),
    inset  2px  2px  4px  rgba(255,255,255,0.1),
    inset  2px  2px  8px  rgba(0,0,0,0.15);
    padding: 30px;
    border-radius: 12px;
    margin-bottom: 50px;
    width: 250px;
    margin: 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    /* box-shadow: 5px 5px 4px #e4e4e4; */
    position: relative; 
}

.products-container .product-card .product-img {
    width: 100%;
    height: 140px;
    margin-bottom: 20px;
}

.products-container .product-card .product-img img {
    width: 100%;
    height: 100%;
    max-width: 100%;
 
}


.products-container .product-card .product-name {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 14px;
    font-weight: 600;
    display: block;
    width: 100%;
    color: #292929;
    margin-top: 5px;
    height: 100px;
}
.products-container .product-card .product-name:hover{
    color: #7289ab;
}
.product-card:hover{
    box-shadow: -2px -2px 8px white,
         -2px -2px 12px rgba(255,255,255,0.5),
    inset 2px  2px  4px  rgba(255,255,255,0.1),
          2px  2px  8px  rgba(0,0,0,0.15);
          z-index: 1!important;
          transform: scale(1.09)!important;
}
.product-btn{
    display: flex;
    justify-content: center;
    text-decoration: none!important;
    cursor: pointer;
    color: #292929;
    transition: 0.3s;
}

.product-price {
    color: #007bff!important;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 8px 32px;
    border-radius: 50px;
    box-shadow: inset -2px -2px 8px white,
    inset -2px -2px 12px rgba(255,255,255,0.5),
    inset  2px  2px  4px  rgba(255,255,255,0.1),
    inset  2px  2px  8px  rgba(0,0,0,0.15);
    transition: 0.4s;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;

}
.product-price :hover{
    box-shadow: -2px -2px 8px white,
    -2px -2px 12px rgba(255,255,255,0.5),
    inset  2px  2px  4px  rgba(255,255,255,0.1),
      2px  2px  8px  rgba(0,0,0,0.15);
      color: #7289ab;
      text-decoration: none;
}
.addcart-btn{
    color: #007bff!important;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    height: 45px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    text-decoration: none;
    box-shadow: -2px -2px 8px white,
         -2px -2px 12px rgba(255,255,255,0.5),
    inset  2px  2px  4px  rgba(255,255,255,0.1),
         2px  2px  8px  rgba(0,0,0,0.15);
}
.addcart-btn:hover{
    box-shadow: inset -2px -2px 8px white,
    inset -2px -2px 12px rgba(255,255,255,0.5),
    inset  2px  2px  4px  rgba(255,255,255,0.1),
    inset  2px  2px  8px  rgba(0,0,0,0.15);
    color: #7289ab;
}


/* .products-container .product-card .addcart-btn {
    background-color: #f57224;
    color: #fff;
    border: hidden;
    cursor: pointer;
    width: 100%;
    padding: 10px 14px;
    margin-top: 5px;
    margin-bottom: 2px;
    outline: none;
} */

/* logout */
.logout-btn {
    padding: 5px;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    border: hidden;
    background-color: #007bff;
    margin-left: 10px;
}

 /* cart */
.cart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 14px;
    font-weight: 600;
}

.cart-container .cart-card {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

@media(max-width: 768px) {
    .cart-container .cart-card {
        flex-direction: column;
        justify-content: center;
        border-bottom: 1px solid #e4e4e4;
    }
}

.cart-container .cart-card .cart-img {
    width: 150px;
    height: 120px;
}

@media(max-width: 768px) {
    .cart-container .cart-card .cart-img {
        width: 90%;
        height: auto;
    }
}

.cart-container .cart-card .cart-img img {
    width: 100%;
    height: 100%
}

.cart-container .cart-card .cart-name,
.cart-container .cart-card .cart-price {
    width: 150px;
    margin-left: 20px;
}

@media(max-width: 768px) {

    .cart-container .cart-card .cart-name,
    .cart-container .cart-card .cart-price {
        width: 90%;
        margin-left: 0px;
        text-align: center;
        margin-top: 4px;
    }
}

.cart-container .cart-card .cart-price-orignal {
    width: 150px;
    margin-left: 20px;
    color: #007bff;
}

@media(max-width: 768px) {

    .cart-container .cart-card .cart-price-orignal {
        width: 90%;
        margin-left: 0px;
        text-align: center;
        margin-top: 4px;
    }
}

.delete-btn {
    background-color: transparent;
    border: hidden;
    outline: none;
    cursor: pointer;
    color: #007bff;
}

.inc,
.dec {
    cursor: pointer;
}

@media(max-width: 768px) {
    .delete-btn {
        margin-top: 4px;
    }

    .inc,
    .dec {
        margin-top: 4px;
    }
}

/* cart summary */
.cart-summary {
    display: flex;
    flex-direction: column;
    padding: 50px;
    border: 1px solid #e4e4e4;
    width: 300px;
}

.cart-summary .cart-summary-heading {
    border-bottom: 1px solid #007bff;
}

.cart-summary .cart-summary-price {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.cashout-link {
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    color: #000;
} 
.btn-md{
    background:#007bff!important;
}

/* cashout */
.success-msg {
    background-color: green;
    color: #fff;
    padding: 7px;
    font-size: 12px;
    font-weight: 600;
}

.success-msg .home-link {
    color: #fff;
}

/* login */

input{
    outline: none!important;
    border: none!important;
}
input:focus{
    border-color: transparent !important;
}
input::-webkit-input-placeholder{
    color: #adadad!important;
}
.container{
    width: 100%;
    margin: 0 auto;
}
/* .container-login{
    width: 100%;  
    text-align: center;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #ddd;
}
.wrap-login {
    width: 350px;
    background: #ddd;
    border-radius: 10px;
    overflow: hidden;
    /*padding: 77px 55px 33px 55px;*/
    /* padding: 66px 55px 66px 55px;
    box-shadow: 0 0 3px 3px #dddddd, 
    6px 6px 8px 4px rgba(136, 136, 136, 0.7), 
    -6px -6px 8px 4px rgba(244, 244, 244, 0.7);
  
  }
  .login-form {
    width: 100%;
  }
  .login-form-title {
    display: block;
    font-family: 'Poppins';
    font-size: 30px;
    font-weight: bold;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 60px;
  }
  .login-form-title {
    font-size: 60px;
  }
  /*------------------------------------------------------------------
[ Input ]*/

/* .form-control {
    width: 100%!important;
    position: relative!important;
    border-bottom: 2px solid #adadad!important;
    margin-bottom: 37px!important;
  }
  
  input {
    font-family: 'Poppins'!important;
    font-size: 15px!important;
    color: #4CAF50!important;
    line-height: 1.2!important;
    display: block!important;
    width: 94%!important;
    height: 45px!important;
    background: transparent!important;
    padding: 0 5px!important;
  }
  .focus-input {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none; */
  /* }  */